abcdef/src/main/mule/abcd.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="abcd-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="abcd-config" api="abcd.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <!-- <api-gateway:autodiscovery apiId="17809469" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="e1c39996-d769-4ce5-945a-cafa669557a0" flowRef="abcd-main" /> -->
    <flow name="abcd-main">
        <http:listener config-ref="abcd-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="abcd-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\crateabdraml:application\json:abcd-config">
        <logger level="INFO" doc:name="f starts" doc:id="371081f8-6fdf-4b48-b29a-b222c7094136" message="f begins" />
		<flow-ref doc:name="Flow Reference" doc:id="fcfafd3a-bb30-403a-b323-eb63a205f9b8" name="dleteflow"/>
		<error-handler ref="Global-exceptionError_Handler" />
    </flow>
    <flow name="get:\crateabdraml:abcd-config">
        <logger level="INFO" doc:name="f starts" doc:id="579a19c2-714d-4553-9db7-521d48cb87f5" message="f begins #[payload]" />
		<choice doc:name="Choice" doc:id="4205a9c8-c7ff-4f33-8738-0a2b0179a75d" >
			<when expression="#[attributes.queryParams.dept == 'dp']">
				<logger level="INFO" doc:name="Logger" doc:id="31b78e70-5285-402c-afe0-e04c544f7f35" message="success case"/>
				<flow-ref doc:name="Flow Reference" doc:id="82c427f2-f3fb-4ac4-8c7a-6e76b3685af2" name="selectFlow" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="fbcf284d-2c93-417c-979f-3a214930bb5e" message="error case"/>
				<raise-error doc:name="Raise error" doc:id="509d4ed3-08b9-4540-b099-80d9048808ae" type="INVALID:DEPT_ID"/>
			</otherwise>
		</choice>
		<error-handler ref="Global-exceptionError_Handler" />
    </flow>
    <flow name="post:\crateabdraml:application\json:abcd-config">
        <logger level="INFO" doc:name="f starts" doc:id="32965421-f03e-4968-b8b3-3c15ca5008aa" message="f begins" />
		<flow-ref doc:name="Flow Reference" doc:id="094e8131-6f11-4c52-a98f-b24b64449504" name="insertflow"/>
		<error-handler ref="Global-exceptionError_Handler" />
    </flow>
    <flow name="put:\crateabdraml:application\json:abcd-config">
		<logger level="INFO" doc:name="f begins" doc:id="9233c9f7-6d1c-43ce-a378-ef993b06f001" message="f starts"/>
		<flow-ref doc:name="Flow Reference" doc:id="8e63dbe3-61c0-46bd-9bd3-aeafb7c46d66" name="updateflow"/>
		<error-handler ref="Global-exceptionError_Handler" />
    </flow>
</mule>
